# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://structurify:structurify@localhost:6432/structurify?schema=public"
JWT_SECRET=SuperSecret
CACHE_TTL=10000
NODE_ENV=dev
PORT=3000

# communication
MAILER_DSN = "smtp://localhost:1030"
MAILER_FROM = "no-reply@example.com"

# i18n
I18N_FALLBACK_LANGUAGE=en