# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://structurify:structurify@localhost:6432/structurify?schema=public"
JWT_SECRET=SuperSecret
NODE_ENV=dev
PORT=3000

# communication
MAILER_DSN = "smtp://localhost:1030"
MAILER_FROM = "no-reply@example.com"

# invites
INVITE_EXPIRATION = 604800000 # 7 days

# i18n
I18N_FALLBACK_LANGUAGE=en

# cache
REDIS_DEFAULT_TTL=10000
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=eYVX7EwVmmxKPCDmwMtyKVge8oLd2t81

# web
WEB_URL=https://example.com

# minio
MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_ACCESS_KEY=structurify
MINIO_SECRET_KEY=structurify
MINIO_SSL=false

# meilisearch
MEILISEARCH_HOST="http://localhost:7700"
MEILISEARCH_API_KEY="masterKey"
